// Background colours
$backgroundColour: #434371 !default;
$codeBackgroundColour: #434371 !default;
$featureBackgroundColour: #434371 !default;
$accentColour: #ADA8BE !default;

// Text colours
$headingColour: #F7B2AD !default;
$bodyColour: #F7B2AD !default;
$linkColour: #F7B2AD !default;
$hoverColour: #F4D35E !default;
$focusColour: #F4D35E !default;
$captionColour: #ADA8BE !default;
$white: #ffffff !default;

// Typography
$bodytype: (
  font-family: "Georgia, serif",
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75) !default;

$headingtype: (
  font-family: '"Merriweather", serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75) !default;

$monospacetype: (
  font-family: "Menlo, monospace",
  regular: 400,
  cap-height: 0.68) !default;

// TIP: Load custom fonts in _config.yaml